canvasapi>=2.2.0
colorama>=0.4.6
focs_gitea>=1.0.0
GitPython>=3.1.18
joj-submitter>=0.0.8
loguru>=0.5.3
mattermostdriver>=7.3.2
pandas>=2.0.0
patool>=1.12
pydantic>=2.0.2
pydantic-settings>=2.0.1
typer[all]>=0.3.2,<=0.11.1
