canvasapi>=2.2.0
colorama>=0.4.6
filelock>=3.14.0
focs_gitea>=1.22.0
GitPython>=3.1.18
joj-submitter>=0.0.8
loguru>=0.5.3
mattermostdriver>=7.3.2
mosspy>=1.0.9
patool>=1.12
pydantic>=2.0.2
pydantic-settings>=2.0.1
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
typer>=0.12.3
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
